//color reference: https://getbootstrap.com/docs/5.2/customize/color/; https://www.figma.com/community/file/1029506782158027808/Ultimate-color-palette-system-%E2%80%93-Untitled-UI
//box-shadow examples: https://getcssscan.com/css-box-shadow-examples
//table: https://www.w3schools.com/howto/howto_js_sort_table.asp

//theme color samples
//#E2703A
//#57acdc
//#276BB0

:root {
    //colors
    --black: #000000;
    --white: #ffffff;
    --gray-25: #fcfcfd;
    --gray-50: #f9fafb;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    // --gray-25: #fcfcfd;
    // --gray-50: #f9fafb;
    // --gray-100: #f2f4f7;
    // --gray-200: #e4e7ec;
    // --gray-300: #d0d5dd;
    // --gray-400: #98a2b3;
    // --gray-500: #667085;
    // --gray-600: #475467;
    // --gray-700: #344054;
    // --gray-800: #1d2939;
    // --gray-900: #101828;
    --theme: #276bb0; //rgba(255, 142, 60, 1);
    // --body-background-color: var(--gray-100);
    // --background-color: var(--white);
    --body-background-color: var(--gray-50);
    --background-color: var(--white);
    --font-color: var(--gray-900);
    --hover-color: var(--gray-200);
    --border-color: var(--gray-400);
    --range-background-color: var(--gray-400);
    --th-background-color: var(--gray-200);
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 2px 6px 2px rgb(60 64 67 / 15%);
    //fonts
    --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    //spacing for padding and margin
    --spacing: 1rem;
    //font sizes
    --base: 16;
    --html-font-size: calc((var(--base) / 16) * 100%);
    --font-8: calc((8 / var(--base) * 1rem));
    --font-16: calc((16 / var(--base) * 1rem));
    --font-24: calc((24 / var(--base) * 1rem));
    --font-32: calc((32 / var(--base) * 1rem));
    --font-40: calc((40 / var(--base) * 1rem));
    --font-48: calc((48 / var(--base) * 1rem));
    --font-64: calc((64 / var(--base) * 1rem));
    //breakpoints
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --border-radius: 8px;
    //icons
    --icon-checkmark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    --icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
    --icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
}

::backdrop {
    --backdrop-color: rgb(0 0 0 /45%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme: #276bb0; //rgba(255, 142, 60, 0.7);
        --body-background-color: var(--gray-900);
        --background-color: var(--gray-800);
        --font-color: var(--gray-300);
        --hover-color: var(--gray-700);
        --border-color: var(--gray-600);
        --range-background-color: var(--gray-900);
        --th-background-color: var(--gray-700);
        --box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%);
        --icon-checkmark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(206, 212, 218, 0.999)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
        --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(206, 212, 218, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        --icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(206, 212, 218, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
        --icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(206, 212, 218, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
    }
}