@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import './variables';

*,
::before,
::after {
  box-sizing: border-box;
  color: inherit;
  line-height: 1.5;
}

html {
  font-family: var(--font-family);
  font-size: var(--html-font-size);
  scroll-behavior: smooth;
}

.layout {
  display: grid;
  grid-template-columns: 1fr min(75rem, 90%) 1fr;

  &.fluid {
    grid-template-columns: 1fr 90% 1fr;
  }

  & > * {
    grid-column: 2;
  }

  & > header,
  & > footer {
    grid-column: 1/-1;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  background-color: var(--body-background-color);
}

header {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);

  nav {
    display: flex;
    grid-column: 2;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: var(--spacing) 0;

      &:not(:only-child):last-child {
        align-items: flex-end;
      }

      li a {
        display: block;
        text-decoration: none;
        padding: calc(var(--spacing) * 0.5) var(--spacing);
        border-radius: var(--border-radius);

        &:hover {
          cursor: pointer;
          background-color: var(--hover-color);
        }
      }
    }

    details {
      margin-bottom: 0;
    }
  }
}

main {
  padding: var(--spacing) 0;
}

footer {
  grid-column: 1/-1;
  padding: var(--spacing);
  box-shadow: var(--box-shadow-inverted);
}

section,
output,
code,
article {
  display: block;
  padding: var(--spacing);
  margin-bottom: calc(var(--spacing) * 2);
}

section,
output,
code,
article,
input,
textarea,
select,
button,
*[role='button'] {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: transparent;
}

section {
  border-color: transparent;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);

  .table-sticky {
    table {
      tfoot td,
      thead th {
        background-color: var(--background-color);
      }
    }
  }
}

code,
output {
  font-family: monospace;
}

.table-responsive {
  overflow: auto;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  text-align: unset;

  &.table-sticky {
    thead th,
    tfoot td {
      position: -webkit-sticky;
      position: sticky;
      z-index: 2;
    }

    thead th {
      top: 0;
    }
    tfoot td {
      background-color: var(--background-color);
      bottom: 0;
    }
  }

  &.table-bordered {
    border-left: 1px solid var(--border-color);

    tr td,
    tr th,
    *::part(table-cell) {
      border-right: 1px solid var(--border-color);
    }
  }

  &.table-hover {
    tr:hover,
    *::part(table-row):hover {
      background-color: var(--hover-color);
    }
  }
}

thead tr th {
  background-color: var(--th-background-color);
  border-top: 1px solid var(--border-color);
  font-weight: 700;
}
tr td,
tr th {
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacing);
  text-align: inherit;
  vertical-align: middle;
}
tfoot tr:first-child td {
  border-top: 1px solid var(--border-color);
}

input,
textarea,
select,
button,
[type='checkbox'],
[type='radio'],
*[role='button'] {
  font-size: inherit;
  line-height: 1em;
  padding: calc(var(--spacing) * 0.5) var(--spacing);
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:where(:not([type='checkbox']):not([type='radio'])),
textarea,
select {
  display: block;
  width: 100%;
}

input {
  &:is([type='checkbox'], [type='radio']) {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    height: calc(var(--spacing) * 1.25);
    width: calc(var(--spacing) * 1.25);
    margin-top: calc(var(--spacing) * -0.125);
    margin-right: calc(var(--spacing) * 0.25);
    vertical-align: middle;
  }

  &:is([type='date'], [type='datetime-local'], [type='month'], [type='week'], [type='time']) {
    background-size: var(--spacing) auto;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }

  &:is([type='date'], [type='datetime-local'], [type='month'], [type='week']) {
    background-image: var(--icon-date);
  }

  &[type='time'] {
    background-image: var(--icon-time);
  }

  &[type='file'] {
    cursor: pointer;
    background-color: transparent;
    padding: 0;

    &::-webkit-file-upload-button {
      background-color: var(--body-background-color);
      border: none;
      color: var(--font-color);
      margin-right: var(--spacing);
      padding: calc(var(--spacing) * 0.5) var(--spacing);
    }

    &::file-selector-button {
      color: var(--font-color);
      border: none;
      background-color: var(--body-background-color);
      padding: calc(var(--spacing) * 0.5) var(--spacing);
      margin-right: var(--spacing);
    }
  }

  &[type='range'] {
    cursor: pointer;
    padding: 0;
    border: 0;
    height: calc(var(--spacing) * 0.25);
    background-color: var(--range-background-color);
  }
}

input:is([type='date'], [type='datetime-local'], [type='month'], [type='week'], [type='time']),
select:not([multiple]) {
  background-repeat: no-repeat;
  background-position: right var(--spacing) center;
}

select:not([multiple]) {
  background-position: right calc(var(--spacing) * 0.8) center;
  background-image: var(--icon-chevron);
}

button,
*[role='button'] {
  background-color: var(--button-background-color);
  cursor: pointer;
  border-color: transparent;
  box-shadow: var(--box-shadow);

  &:hover {
    background-color: var(--hover-color);
  }

  &[type='submit'] {
    background-color: var(--theme);
    border-color: var(--theme);
    color: var(--gray-100);
    box-shadow: none;

    &:hover {
      background-color: var(--theme75);
      border-color: var(--theme75);
    }
  }
}

details {
  margin-bottom: calc(var(--spacing) * 2);

  & > summary {
    cursor: pointer;
    padding: calc(var(--spacing) * 0.5) var(--spacing);
    line-height: 1.5;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }

  &[open] > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    & + * {
      border: 1px solid var(--border-color);
      border-top: none;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      padding: calc(var(--spacing) * 0.5) var(--spacing);
    }
  }
}
