@keyframes dialog-open {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

dialog {
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  border: 0;
  padding: var(--spacing);

  &::-webkit-backdrop {
    background-color: var(--backdrop-color);
  }

  &::backdrop {
    background-color: var(--backdrop-color);
  }

  &[open] {
    -webkit-animation: dialog-open 0.45s ease normal;
    animation: dialog-open 0.45s ease normal;
  }
}
