details[role='listbox'] {
  position: relative;

  &.disabled {
    cursor: not-allowed;

    & > summary {
      pointer-events: none;
      color: hsla(0, 0%, 6%, 0.3);
    }
  }

  & > summary {
    list-style: none;
    position: relative;

    &::-webkit-details-marker {
      display: none;
    }

    &:after {
      content: '';
      height: calc(var(--spacing) * 1.25);
      width: calc(var(--spacing) * 1.25);
      pointer-events: none;
      background-image: var(--icon-chevron);
      background-repeat: no-repeat;
      background-position: 50%;
      float: right;
      margin-top: calc(var(--spacing) * 0.125);
      margin-left: calc(var(--spacing) * 0.625);
    }

    & + ul {
      position: absolute;
      top: auto;
      right: 0;
      left: 0;
      background-color: var(--background-color);
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 2;

      &.top {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top: 1px solid var(--border-color);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }

      &.hide {
        visibility: hidden;
      }

      li {
        box-sizing: border-box;
        padding: 0;

        &.filter {
          background-color: var(--option-hover-color);
          border-bottom: 1px solid var(--border-color);
          padding: calc(var(--spacing) * 0.5) var(--spacing);

          input[type='search'] {
            padding: 4px;
            width: 100%;
          }
        }

        &.hide-item {
          display: none;
        }

        a {
          display: block;
          &:hover {
            border-radius: 0;
          }
        }

        label {
          border-left: 3px solid transparent;
          cursor: pointer;
          display: block;
          padding: calc(var(--spacing) * 0.5) var(--spacing);
          position: relative;
          white-space: nowrap;

          &:hover {
            background-color: var(--option-hover-color);
          }
        }

        input[type='checkbox'],
        input[type='radio'] {
          opacity: 0;
          position: absolute;

          & + label {
            &:before {
              background-color: #fff;
              border: 1px solid;
              content: '';
              display: inline-block;
              height: 20px;
              margin-right: 4px;
              vertical-align: text-bottom;
              width: 20px;
            }
          }

          &:checked + label {
            border-left-color: var(--option-selected-color);
          }
        }

        input[type='checkbox']:checked + label:before {
          background-color: var(--option-selected-color);
          background-image: var(--checkmark);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 0.8rem auto;
          border: 1px solid var(--option-selected-color);
        }
      }
    }
  }

  &[open] {
    & > summary {
      &:before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        cursor: default;
        content: ' ';
        background: transparent;
      }

      &:after {
        transform: rotate(180deg);
      }

      & + ul {
        display: initial;
      }
    }
  }
}
