@import "./variables";

html {
    font-size: var(--html-font-size);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}