@import '~normalize.css';
@import './variables';

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    font-size: var(--html-font-size);
    scroll-behavior: smooth;
}

body,
header {
    display: grid;
    grid-template-columns: 1fr min(75rem, 90%) 1fr; //max-width: 1200px => 75rem
}

body {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    background-color: var(--bg-color);

    &.container-fluid {
        grid-template-columns: 1fr 90% 1fr;
    }

    &>* {
        grid-column: 2;
    }
}

header {
    grid-column: 1/-1;
    background-color: var(--header-bg-color);

    nav {
        grid-column: 2;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: var(--spacing) 0;

            &:not(:only-child):last-child {
                align-items: flex-end;
            }

            li {
                a {
                    text-decoration: none;
                    padding: calc(var(--spacing) * 0.5) var(--spacing);
                    border-radius: var(--border-radius);

                    &:hover {
                        cursor: pointer;
                        background-color: var(--hover-color);
                    }
                }
            }
        }
    }

    &.header-fluid {
        display: block;

        nav {
            ul {
                margin: var(--spacing);
            }
        }
    }
}

main {
    padding: calc(var(--spacing) * 0.5) 0;
}

section {
    border-radius: var(--border-radius);
    background-color: var(--section-bg-color);
    padding: calc(var(--spacing));
    margin-bottom: calc(var(--spacing) * 2);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 3px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    thead {
        tr {
            th {
                font-weight: bold;
            }
        }
    }

    tr {

        th,
        td {
            text-align: left;
            border-bottom: 1px solid var(--border-color);
            padding: var(--spacing);
        }

        th {
            border-width: 2px;
        }
    }

    tbody {
        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
            }

            &:hover {
                background-color: var(--table-alt-color);
            }
        }
    }

    tfoot {
        tr:first-child {
            td {
                border-top: 1px solid var(--border-color);
            }
        }
    }
}

.table-responsive {
    overflow: auto;
}

.table-sticky {
    overflow: auto;

    table {

        thead th,
        tfoot td {
            position: sticky;
            z-index: 2;
        }

        thead th {
            top: 0;
        }

        tfoot td {
            bottom: 0;
        }
    }
}

section {
    .table-sticky {
        table {

            thead th,
            tfoot td {
                background-color: var(--section-bg-color);
            }
        }
    }
}

footer {
    grid-column: 1/-1;
}

input:not([type='checkbox']):not([type='radio']),
select,
button,
*[role='button'] {
    padding: calc(var(--spacing) * 0.5) var(--spacing);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-size: inherit;
    color: var(--font-color);
    line-height: 1.5;
}

input:not([type='checkbox']):not([type='radio']),
select {
    width: 100%;
    background-color: var(--bg-color);
    appearance: none;
}

select:not([multiple]) {
    background-image: var(--chevron);
    background-repeat: no-repeat;
    background-position: right calc(var(--spacing) * 0.5) center;
}

button,
*[role='button'] {
    background-color: var(--button-bg-color);
    cursor: pointer;

    &[type='submit'] {
        background-color: var(--theme);
        border: 0;
        color: var(--gray-900);
    }
}