@import '~normalize.css';
@import './variables';

* {
    box-sizing: border-box;
    color: inherit;
}

::backdrop {
    background: var(--dialog-backdrop-color);
}

html {
    font-family: var(--font-family);
    font-size: var(--html-font-size);
    scroll-behavior: smooth;
}

body,
header {
    display: grid;
    grid-template-columns: 1fr min(75rem, 90%) 1fr; //max-width: 1200px => 75rem
}

body {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    background-color: var(--bg-color);

    &.container-fluid {
        grid-template-columns: 1fr 90% 1fr;
    }

    &>* {
        grid-column: 2;
    }
}

header {
    grid-column: 1/-1;
    background-color: var(--header-bg-color);

    nav {
        grid-column: 2;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: var(--spacing) 0;

            &:not(:only-child):last-child {
                align-items: flex-end;
            }

            li {
                a {
                    text-decoration: none;
                    padding: calc(var(--spacing) * 0.5) var(--spacing);
                    border-radius: var(--border-radius);

                    &:hover {
                        cursor: pointer;
                        background-color: var(--hover-color);
                    }
                }
            }
        }
    }

    &.header-fluid {
        display: block;

        nav {
            ul {
                margin: var(--spacing);
            }
        }
    }
}

main {
    padding: calc(var(--spacing) * 0.5) 0;
}

section {
    border-radius: var(--border-radius);
    background-color: var(--section-bg-color);
    padding: calc(var(--spacing));
    margin-bottom: calc(var(--spacing) * 2);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 3px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    //box-shadow: rgba(9, 30, 66, 0.25) 0px 10px 15px -3px,rgba(9, 30, 66, 0.08) 0px 4px 6px -2px;
    //box-shadow: 0 10px 15px -3px #00000012, 0 4px 6px -2px #0000000d;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    thead {
        tr {
            th {
                font-weight: bold;
            }
        }
    }

    tr {

        th,
        td {
            border-bottom: 1px solid var(--border-color);
            padding: var(--spacing);
            vertical-align: middle;
            text-align: center;
        }

        th {
            border-width: 2px;
        }
    }

    tbody {
        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
            }

            &:hover {
                background-color: var(--table-alt-color);
            }
        }
    }

    tfoot {
        tr:first-child {
            td {
                border-top: 1px solid var(--border-color);
            }
        }
    }

    &.table-bordered {
        border-top: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);

        tr th,
        tr td {
            border-right: 1px solid var(--border-color);
        }
    }
}

.table-responsive {
    overflow: auto;
}

.table-sticky {
    overflow: auto;

    table {

        thead th,
        tfoot td {
            position: sticky;
            z-index: 2;
        }

        thead th {
            top: 0;
        }

        tfoot td {
            bottom: 0;
        }
    }
}

section {
    .table-sticky {
        table {

            thead th,
            tfoot td {
                background-color: var(--section-bg-color);
            }
        }
    }
}

footer {
    grid-column: 1/-1;
}

hr {
    border-top: 1px solid var(--);
}

input,
select,
button,
*[role='button'] {
    padding: calc(var(--spacing) * 0.5) var(--spacing);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-size: inherit;
    line-height: 1.5;
}

input,
select {
    appearance: none;
}

input:where(:not([type='checkbox']):not([type='radio'])),
select {
    width: 100%;
    background-color: var(--bg-color);
}

input[type='range'] {
    padding: 0;
    border: 0;
    height: calc(var(--spacing) * 0.25);
    background-color: var(--range-bg-color);
    cursor: pointer;
}

input {
    &:is([type='checkbox'], [type='radio']) {
        appearance: auto;
        height: calc(var(--spacing) * 1.25);
        width: calc(var(--spacing) * 1.25);
        margin-top: calc(var(--spacing) * -0.125);
        margin-right: calc(var(--spacing) * 0.25);
        vertical-align: middle;
    }

    &[type='checkbox'][role='switch'] {
        appearance: none;
        width: calc(var(--spacing) * 2.5);
        border: 2px solid var(--border-color);
        border-radius: calc(var(--spacing) * 0.25);
        background-color: var(--bg-color);

        &:checked {
            border-color: var(--theme);
        }

        &::before {
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            background-color: var(--border-color);
            margin-left: 0;
            transition: margin 0.1s ease-in-out;
        }

        &:checked::before {
            margin-left: calc(var(--spacing) * 1.2);
            background-color: var(--theme);
        }
    }
}

input:is([type='date'], [type='time']) {
    background-size: var(--spacing) auto;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

select:not([multiple]),
input:is([type='date'], [type='time']) {
    background-repeat: no-repeat;
    background-position: right var(--spacing) center;
}

select:not([multiple]) {
    background-position: right calc(var(--spacing) * 0.8) center;
    background-image: var(--icon-chevron);
}

input[type='date'] {
    background-image: var(--icon-date);
}

input[type='time'] {
    background-image: var(--icon-time);
}

button,
*[role='button'] {
    padding: calc(var(--spacing) * 0.25) var(--spacing);
    background-color: var(--button-bg-color);
    cursor: pointer;

    &[type='submit'] {
        background-color: var(--theme);
        border-color: var(--theme);
        color: var(--gray-900);
    }
}

@keyframes dialog-open {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

dialog {
    background-color: var(--section-bg-color);
    border-radius: var(--border-radius);
    border: 0;
    padding: var(--spacing);

    &[open] {
        animation: dialog-open 0.45s ease normal;
    }

    &::backdrop {
        opacity: 0.45;
        background-color: var(--backdrop-color);
    }
}