details[aria-haspopup='true'] {
  display: inline-block;
  position: relative;

  summary {
    cursor: pointer;
    list-style: none;
  }

  &[open] {
    summary {
      &:before {
        background-color: transparent;
        bottom: 0;
        content: ' ';
        cursor: default;
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
      }

      & + div {
        background-color: var(--primary);
        border: 1px solid var(--border-color);
        border-radius: 4px;
        margin: 4px auto;
        padding: var(--spacing);
        position: absolute;
        z-index: 2;
      }
    }
  }
}
