input[type='checkbox'][role='switch'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--switch-color);
  border: 3px solid var(--switch-color);
  border-radius: calc(var(--spacing) * 2);
  cursor: pointer;
  position: relative;
  width: calc(var(--spacing) * 2.5);
  height: calc(var(--spacing) * 1.25);
  line-height: calc(var(--spacing) * 1.25);

  &:before {
    content: '';
    display: block;
    height: 100%;
    width: var(--spacing);
    background-color: var(--white);
    border-radius: 50%;
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: margin 0.1s ease-in-out;
  }

  &:checked {
    border-color: var(--theme);
    background-color: var(--theme);
  }

  &:checked:before {
    margin-left: calc(var(--spacing) * 1.1);
  }
}
